.fa-phone {
    color: #D10024;
    margin: 15px 10px 0px 0px;
}

.fa-envelope {
    color: #D10024;
    margin: 15px 10px 0px 0px;
}

.fa-map-marker {
    color: #D10024;
    margin: 15px 10px 0px 0px;
}

.header-top {
    display: flex;
    background-color: #1E1F29;
    color: white;
    margin: -10px 0px;
    font-size: 12px;
    font-weight: bold;
    justify-content: space-between;
}

.header-top-left div p:hover,
.header-top-right div p:hover {
    color: #D10024;
    cursor: pointer;
}

.logo img:hover {
    cursor: pointer;
}

.header-top-left div {
    display: flex;
    margin: 0px 30px 0px 0px;
}

body {
    font-family: 'Montserrat';
    margin: 0px;
}

.header-top-left {
    display: flex;
    justify-content: space-around;
    margin-left: 65px;

}

.header-top-right {
    display: flex;
    margin-right: 70px;
}

.header-top-right div {
    display: flex;
    margin: 0px 30px 0px 0px;
}

.fa-usd {
    color: #D10024;
    margin: 15px 10px 0px 0px;
}

.fa-user {
    color: #D10024;
    margin: 15px 10px 0px 0px;
}

.header-bottom {
    background-color: #15161D;
    margin: 10px 0px;
    display: flex;
    color: white;
    justify-content: space-around;
    height: 242.8;
    width: 927.2;
}

.wish-list-and-cart {
    display: flex;
    justify-content: space-between;
}

.wish-list-and-cart div {
    font-size: 12px;
    font-weight: bold;
    margin: 0px 50px 0px 0px;
}

.fa-heart {
    margin: 15px 0px 0px 30px;
}

.fa-shopping-cart {
    margin: 15px 0px 0px 20px;
}

.search-bar {
    display: flex;
    margin: 15px 0px;
}

#select-category {
    width: 150px;
    height: 40.5px;
    border-radius: 40px 0px 0px 40px;
    padding-left: 15px;
    color: gray;
}

#search-bar input {
    width: 460px;
    height: 35px;
    padding-left: 15px;
}

#search-button {
    background-color: #D10024;
    width: 100px;
    height: 43px;
    color: white;
    border-radius: 0px 40px 40px 0px;
}

.nav-bar {
    background-color: #fefcfe;
}

.nav-bar ul {
    display: flex;
    margin: 0px 250px;
}

.nav-bar ul li {
    margin-right: 55px;
    list-style-type: none;
}

.red-line {
    background-color: red;
    height: 1.75px;
    margin-top: -10px;
}

.nav-bar ul li a {
    text-decoration: none;
    color: #2B2D42;
    font-weight: 500;
}

.nav-bar ul li a:hover {
    color: #D10024;
    background-color: transparent;
    text-decoration: underline;
    font-weight: 600;
}

.nav-bar ul li a:focus {
    color: #D10024;
    background-color: transparent;
    text-decoration: underline;
    font-weight: 600;
}

/*----------- COLLECTION STYLE ----------*/
.collection{
    margin: 15px 60px 5px;
}

.object-collection{
    position: relative;
    width: 240px;
}

.bottom-layer{
    width: 360px;
    height: 240px;
    background-color: #e4e7ed;
    opacity: 1;
}

.object-collection img{
    position: absolute;
    top: 0;
    height: 240px;
    width: auto;
}

.object-collection:hover img{
    height: 250px;
    transition: 0.25;
    margin-left: -5px;
}

.top-layer{
    width: 100px;
    position: absolute;
    top: 0;
    border-top: 240px solid rgba(209, 0, 36, 0.85);
    border-right: 240px solid transparent;
    border-left: 0px solid transparent;

}

.hot-deal {
    position: relative;
    text-align: center;
    color: #2b2d42;
}
.hot-deal img{  
    width: 100%;
    margin: 0px ;
}
.hot-deal h2{
    font-size: 30px;
    position: absolute;
    top: 30%;
    left: 38%;
}
.hot-deal>p{
    font-size: 24px;
    position: absolute;
    top: 45%;
    left: 35.25%;
}
.time-group{
    display: flex;
    position: absolute;
    top: 10%;
    left: 37%;
}
.time{
    background-color: #d31737;
    color: white;
    width: 80px;
    height: 80px;
    border-radius: 100px;
    text-align: center;
    margin-right: 15px;
}
.time h3 {
    font-weight: 800;
}
.time p{
    margin-top: -20px;
}
.hot-deal input{
    position: absolute;
    background-color: #d31737;
    color: white;
    font-weight: 900;
    width: 145px;
    height: 44px;
    border-radius: 40px;
    border-style: none;
    top: 70%;
    right: 45.75%;
}
.hot-deal input:hover{
    cursor: pointer;
    opacity: 0.9;
}
.sign-up{
    width: 925px;
    height: 238px;
    text-align: center;
    margin-left: 275px;
}
.sign-up h1{
    color: #333333;
    font-weight: lighter;
}
.sign-up h1 strong{
    font-weight: 900;
}
.sign-up-input{
    display: flex;
    position: relative;
    margin-left: 190px;
}
.sign-up-input input:first-child{
    height: 40px;
    width: 360px;
    border-radius: 40px 0px 0px 40px;
    padding: 0px 15px;
}
.sign-up-input input:last-child{
    height: 43px;
    width: 150px;
    border-radius: 0px 40px 40px 0px ;
    background-color: #D00024;
    color: white;
    font-weight: bold;
}
.sign-up-input input:last-child:hover{
    cursor: pointer;
}
.sign-up-input i{
    position: absolute;
    color: white;
    left: 410px;
    top: -2px;
}
.sign-up-button{
    display: flex;
    height: 40px;
    width: 140px;
    margin: 30px 0px 0px 350px;
}
.sign-up-button a{
    height: 40px;
    width: 40px;
    border: 1px solid;
    color: #E4E7ED;
    margin-left: 10px;
}
.sign-up-button i{
    color: #15161D;
    margin: 12px;
}
.sign-up-button a:hover{
    background-color: #e4e7ed;
    transition: 0.25s;
}
.sign-up-button a:hover i{
    color: #D00024;
    transition: 0.25s;
}
.footer-top {
    background-color: #15161d;
    display: flex;
    padding: 0px 150px;
    margin-top: -9px;
}

.footer-top h1 {
    color: white;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 30px;
}

.footer-top a {
    text-decoration: none;
    color: #B9BABC;
}

.footer-top p,
div {
    color: #B9BABC;
}

.about-us {
    font-size: 14px;
    flex-basis: 25%;
}

.about-us div {
    display: flex;
    margin-bottom: 20px;
}

.about-us div i {
    margin-top: 3px;
}

.about-us div a:hover {
    color: #D10024;
    transition: 0.25s;
}

.footer-categories,
.information,
.service {
    font-size: 14px;
    flex-basis: 25%;
}

.footer-categories h1,
.information h1,
.service h1 {
    margin-left: 37px;
}

.footer-categories ul li,
.information ul li,
.service ul li {
    list-style-type: none;
    margin-bottom: 17px;
}

.footer-categories ul li a:hover,
.information ul li a:hover,
.service ul li a:hover {
    color: #D10024;
    transition: 0.25s;
}
.footer-bottom{
    background-color: #1E1F29;
    height: 158.6px;
}
.credit-cards{
    display: flex;
    margin-left: 500px;
    
}
.footer-bottom i{
    font-size: 35px;
    color: #15161d;
    margin-top: 40px;
    margin-left: 20px;
}
.footer-bottom i:hover{
    cursor: pointer;
}